os: linux
language: java

cache:
  directories:
    - $HOME/.m2

jdk:
  - openjdk8


jobs:
  include:
    - branches: release
      env: MVN_PROFILE=release
    - branches: !release
      env: MVN_PROFILE=ci

install: mvn $MVN_GOAL -P$MVN_PROFILE -DskipTests=true -Dmaven.javadoc.skip=true -B -V

script: mvn clean deploy -P$MVN_PROFILE

deploy:
  provider: script
  script: "mvn deploy"
  on:
    branch: release